.input-group input:focus {
    outline: 0;
}
.form-control.success {
    border-color: #09c372;
}

.form-control.error{
    border-color: rgb(216, 0, 0);
}

.form-control + .div-error>.error {
    color: rgb(216, 0, 0);
    font-size: 11px;
    height: 13px;
}

.div-error{
		justify-content: space-around;
}

.div-error > .error {
    color: rgb(216, 0, 0);
    font-size: 11px;
    height: 13px;
}

.card-header{
    background-color: #fcba03!important;
}

.address-card{
    margin-bottom: 2rem;
}
.card-footer{
    background-color: #fff!important;
}
.card-footer .btn{
    margin-bottom: 0.75rem;
}
#footer{
	margin-top: 5%;
}