.container{
    height: 100%;
    align-content: center;
}
.col-sm-6 .card {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border-radius: .25rem
}

.cc-card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

.card-header {
    background-color: #fcba03;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.form-control:focus {
    color: #5c6873;
    background-color: #fff;
    border-color: #c8ced3 !important;
    outline: 0;
    box-shadow: 0 0 0 #F44336
}
.card-footer{
    background-color: #fff!important;
}
.card-footer .btn{
    margin-bottom: 0.75rem;
}
#footer{
	margin-top: 10%;
}