#adminCard{
    background-color: #fff!important;
    border-color: #000!important;
    color: #000!important;
}
#adminCardFooter{
		background-color: #fcba03!important;
}
#adminCardFooter:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, .3);
}
.ms-auto{
    margin-left: 15px;
}
.scrollable{
    width: 100%;
    max-height: 150px;
    margin: 0;
    padding: 0;
    overflow: auto;
}
#products_info{
    display: none;
}
#dealers_info{
    display: none;
}
#feedback_info{
    display: none;
}
.page-item.active .page-link{
    background-color: #fcba03!important;
    color: white!important;
    border: none;
}
.page-link{
    color: #fcba03!important;
}
.page-link:focus{
    outline: none!important;
    box-shadow: none!important;
}
.custom-select:focus{
    box-shadow: none!important;
}
#div-products{
    display:none;
}
#div-dealers{
    display: none;
}
#div-feedback{
    display: none;
}
#footer{
    margin-top: 25%;
}
.bg-secondary{
	background-color: #fcba03!important;
}
.wrapper{
  margin-top: 5vh;
}
.dataTables_filter{
  float: right;
}
.table td:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-striped tbody tr:nth-of-type(odd){
  background-color: #fff!important;
}
@media only screen and (max-width: 767px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr,
  tfoot tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
  }
  td:before {
    position: absolute;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  
  .table td:nth-child(1) {
      height: 100%;
      top: 0;
      left: 0;
      font-weight: bold;
  }
  #feedback td:nth-of-type(1):before {
    content: "#ID";
  }
  #feedback td:nth-of-type(2):before {
    content: "Titolo";
  }
  #feedback td:nth-of-type(3):before {
    content: "Commento";
  }
  #feedback td:nth-of-type(4):before {
    content: "Valutazione";
  }
  #feedback td:nth-of-type(5):before {
    content: "Azione";
  }
  #dealers td:nth-of-type(1):before {
    content: "#ID";
  }
  #dealers td:nth-of-type(2):before {
    content: "Codice Fiscale";
  }
  #dealers td:nth-of-type(3):before {
    content: "Partita IVA";
  }
  #dealers td:nth-of-type(4):before {
    content: "Documento";
  }
  #dealers td:nth-of-type(5):before {
    content: "Ragione Sociale";
  }
  #dealers td:nth-of-type(6):before{
    content: "Azione";
  }
  #products td:nth-of-type(1):before {
    content: "#ID";
  }
  #products td:nth-of-type(2):before {
    content: "Titolo";
  }
  #products td:nth-of-type(3):before {
    content: "Descrizione";
  }
  #products td:nth-of-type(4):before {
    content: "Prezzo";
  }
  #products td:nth-of-type(5):before {
    content: "Provenienza";
  }
  #products td:nth-of-type(6):before{
    content: "Categoria";
  }
  #products td:nth-of-type(7):before{
    content: "Azione";
  }
  div.dataTables_wrapper div.dataTables_paginate {
    display: none!important;
  }
  div.dataTables_wrapper div.dataTables_length label{
    display: none;
  }
}
