#adminCard{
    background-color: #fcba03!important;
    border-color: #000!important;
}
#adminCardFooter:hover{
    cursor: pointer;
    background-color: #e0a500;
}
.ms-auto{
    margin-left: 15px;
}
.text-white{
    color: black!important;
}
.blink{
   color: green;
}