@charset "ISO-8859-1";

.title-left{
	color: black;
}

.title-left:hover{
	color: #404040;
}

.title-left-div{
	padding-bottom: 5px;
}

div.container{
	padding: 15px 0;
}

#left-list-group>.list-group-item{
	color: black;
}

.mini-title>a:active{
	color: #404040;
}

a.star:not(div.star p){
	color: #FCBA03;
	display: block;
}


a.star p{
	color: black;
	margin: 0 0 0 5px;
  display: inline-block;
  text-decoration: none;
}

a.star p:hover{
	color: #404040;
}

.list-group-item .lead{
	color: black;
	display: block;
	text-decoration: none;
	font-size: 1rem;
	font-weight: normal;
}

.list-group-item .lead:hover{
	color: #404040;
}

.mini-title{
	margin-bottom: 1rem;
}

.form-check-label>input[type=checkbox]{
	margin-right: 5px;
}

.category-content .btn-category {
  padding: 0.35rem 1rem;
  background: #fcba03;
  margin: .25rem;
  border-radius: 25px;
  color: black!important;
}
.category-title h3{
	font-size: 1rem;
}
.row{
	margin-right: 0!important;
	margin-left: 0!important;
}
.btn{
	font-size: .9rem!important;
}
@media (max-width: 992px) and (min-width: 488px){
	.col-lg-3{
		max-width: 50%;
		flex-direction: column;
		align-content: flex-start;
	}
}
@media (max-width: 768px){
	.row{
		justify-content: center;
	}	
}