@charset "ISO-8859-1";

.title-left{
	color: black;
}

.title-left:hover{
	color: #404040;
}

.title-left-div{
	padding-bottom: 5px;
}

div.container{
	padding-top: 15px;
}

#left-list-group>.list-group-item{
	color: black;
}

#left-list-group>.list-group-item:active{
	color: #404040;
}