#footer {
	margin-top: 25%;
}
.first-card {
	border-style: dashed;
}
.card {
	height: 266px;
  width: 320px;
  border-width: 2px;
  box-sizing: border-box;
  border-color: #C7C7C7;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.first-card-body {
	border-radius: 8px;
  position: relative;
  padding: 14px 18px;
}
.product_link img {
    cursor: pointer;
    padding-bottom: 0.5em;
    height: 100px;
}
.product_link {
    flex-basis: 25%;
    min-width: 200px;
    margin-bottom: 50px;
}
.product_link h4 {
    font-size: 1.3rem!important;
    color: black;
    font-weight: normal;
    cursor: pointer;
}
.form-check{
    padding-left: 0!important;
}
.address-plus {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gMfFBUB8Kc3yAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAABmJLR0QA/wD/AP+gvaeTAAAAP0lEQVRYw+3UsQkAMAwDsPz/o29pHkjnlCKDV6PJVb8myZkKBgYGBgYGBvYg7Da+VTAwMD8GBgYGBgYGBraWBpeqjFTlGtDAAAAAAElFTkSuQmCC) left center no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
}
.address {
		display: block;
  	font-size: 1.2rem;
}
.title-card {
    display: block;
    font-weight: 500;
    font-size: 1rem;
}
.position-absolute{
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -10px);
}