.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;

}
.profile-img img{
    width: auto;
    height: auto;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #333;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
    text-align: center;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.table td img{
    width: 30%;
    height: 100%;
    min-width: 50%;
}
.profile-work ul{
    list-style: none;
    padding-left: 10px!important;
}
.profile-work li{
    font-size: 0.9rem;
    margin-bottom: 10px;
}
.profile-work h5{
    margin-top: 20px;
}
.profile-work .rating{
    text-align: center;
}
.table thead tr{
    background-color: #fcba03;
}
.table thead th{
    border-bottom: none!important;
    border-top: none!important;
    width: 30%;
}
.profile-img img{
    width: 175px;
    cursor: pointer;
    padding-bottom: 0.5em;
    height: 50%;
}
.table td{
    vertical-align: middle!important;
}
@media (max-width:768px){
    .profile-head{
        text-align:center
    }
    .profile-head h3{
        margin-top: 0.8rem;
    }
    .table td img{
        min-width: 80%;
    }
}
@media (max-width:1200px){
    .table thead th{
        width: 20%
    }
}