@charset "ISO-8859-1";
#footer{
	background: #FCBA03!important;
	margin-top: 20%;
}
#footer h5{
	padding-left: 10px;
	border-left: 3px solid #eeeeee;
	padding-bottom: 6px;
	margin-bottom: 20px;
	color: #ffffff;
}
#footer a{
	color: #ffffff;
	text-decoration: none!important;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i{
	margin-right: 5px;
	font-size: 25px;
	-webkit-transition: .5s all ease;
	-moz-transistion: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i{
	font-size: 30px;
	margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color: #ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
	cursor: pointer;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
.sub-footer{
	padding: 20px 0 20px 0!important;
	background: #ff9500;
	margin-right: 0!important;
	margin-left: 0!important;
}
.sub-footer a:hover{
	text-decoration: underline;
}
.mt-sm-5{
	margin-top: .5rem!important;
}
#social ul{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center!important;
}
#social ul li{
	list-style: none;
	margin: 0 5px;
}
#social ul li a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-decoration: none;
	font-size: 30px;
	color: #000;
	transition: 0.5s;
}
.fa-facebook:hover{
	color: #3b5998;
}
.fa-twitter:hover{
	color: #1DA1F2;
}
.fa-instagram:hover{
	color: #E1306C;
}