@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.carousel-inner{
	max-height: 40rem!important;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
	transition: transform 2.2s ease;
}

.carousel-indicators li{
	width: 40px;
	height: 6px;
	margin-right: 4px;
	margin-left: 4px;
}
.carousel-caption{
	position:absolute;
	top: 47%;
	transform: translateY(-50%);
}
.bg-dark{
	background-color: rgba(0, 0, 0, .7)!important;
	border-radius: 1.5rem;
	padding: 1rem;
}
.bg-white{
	background-color: rgba(255, 255, 255, .65)!important;
	border-radius: 1.5rem;
	padding: 1rem;
}
.carousel-caption h3{
	font-weight: 300;
	font-size: 2.3rem;
}
p.lead{
	font-size: 1.4rem;
}
.btn-primary{
	background-color: #fcba03!important;
	color: black!important;
	border-color: black;
}
.btn-primary:hover{
	background-color: transparent!important;
	color: white!important;
	border: 1px solid #fcba03!important;
}
.category .category-card{
	padding-top: 2rem;
}
.category-card .category-content{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 80%;
	margin: 2rem 1rem;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
.category-content .category-title{
	padding: 2rem 0;
}
.category-content .category-title h3{
	font-size: 1.25rem;
}
.category-content .btn-category{
	padding: .7rem 2rem;
	background: #fcba03;
	margin: .5rem;
	border-radius: 25px;
	color: black!important;
}
.category-content .btn-category:hover{
	border: 1px solid #fcba03;
	background: transparent;
}
.category-content span{
	display: block;
}
.category-container{
	margin: 0 5vw;
}
section .category-container .owl-nav{
	position: absolute;
	top: 0%;
	margin: auto!important;
}

.owl-nav .owl-prev .owl-nav-prev, .owl-nav .owl-next .owl-nav-next{
	color: black;
	background: transparent;
	font-size: 2rem;
}
.owl-nav .owl-prev .owl-nav-prev{
	text-align: left!important;
}
.owl-nav .owl-next .owl-nav-next{
	text-align: right!important;
	margin-left: auto!important;
}
.image-container{
	overflow: hidden;
}

.image-container:hover img{
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
	cursor: pointer;
}
.image-container img{
	-webkit-transition: all 0.7s ease;
  	 transition: all 0.7s ease;
}
.owl-prev{
	left: -20px;
}
.owl-next{
	right: -20px;
}
.owl-prev i, .owl-next i{
	transform: scale(2,5);
}
.citazione{
	width: 235px;
	height: 168px;
}
.testimonial{
	padding-top: 100px;
}
.testimonial .col-3{
	text-align: center!important;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.5s;
}
.testimonial .col-3 img{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}
.testimonial .col-3:hover{
	transform: translateY(-10px);
}
#quote{
	font-size: 34px;
	color:  #FCBA03;
}
.col-3 p{
	color: #000;
}
.testimonial .col-3 h3{
	font-weight: 600;
	color: #555;
	font-size: 16px;
}
section .section-title{
	text-align: center;
	color: #FCBA03;
	margin-bottom: 50px;
	text-transform: uppercase;
}
#footer{
	background: #FCBA03!important;
}
#footer h5{
	padding-left: 10px;
	border-left: 3px solid #eeeeee;
	padding-bottom: 6px;
	margin-bottom: 20px;
	color: #ffffff;
}
#footer a{
	color: #ffffff;
	text-decoration: none!important;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i{
	margin-right: 5px;
	font-size: 25px;
	-webkit-transition: .5s all ease;
	-moz-transistion: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i{
	font-size: 30px;
	margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color: #ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
	cursor: pointer;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
.sub-footer{
	padding: 20px 0 20px 0!important;
	background: #ff9500;
	margin-right: 0!important;
	margin-left: 0!important;
}
.sub-footer a:hover{
	text-decoration: underline;
}
.mt-sm-5{
	margin-top: .5rem!important;
}
#social ul{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
#social ul li{
	list-style: none;
	margin: 0 5px;
}
#social ul li a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-decoration: none;
	font-size: 30px;
	color: #000;
	transition: 0.5s;
}
.fa-facebook:hover{
	color: #3b5998;
}
.fa-twitter:hover{
	color: #1DA1F2;
}
.fa-instagram:hover{
	color: #E1306C;
}
/* Mediaqueries */
@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
@media (max-width: 1200px){
	.carousel-caption h3{
		font-size: 1.8rem;
	}
	p.lead{
		font-size: 1.2rem;
	}
}
@media (max-width: 992px){
	.carousel-indicators li{
	width: 30px;
	height: 4px;
	margin-right: 3px;
	margin-left: 3px;
}
}

@media (max-width: 456px){
	.carousel-control-next-icon, .carousel-control-prev-icon{
		width: 15px;
		height: 15px;
	}
}

@media (max-width: 500px){
	.category-card .category-content{
		margin: 2rem 2rem;
	}
}

@media (max-width: 590px){
	.category-title h3{
		font-size: 1.15rem!important;
	}
	.btn-category{
		font-size: .9rem;
	}
}

@media (max-width: 625px){
	.category-title h3{
		font-size: 1.18rem!important;
	}
}
