@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.carousel-inner{
	max-height: 40rem!important;
}
.owl-theme .owl-nav [class*=owl-]{
	margin: 0!important;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    color: #000;
}
.carousel-indicators li{
	width: 40px;
	height: 6px;
	margin-right: 4px;
	margin-left: 4px;
}
/* ida */
.carousel-caption{
	position:absolute;
	top: 47%;
	transform: translateY(-50%);
}
.bg-dark{
	background-color: rgba(0, 0, 0, .7)!important;
	border-radius: 1.5rem;
	padding: 1rem;
}
.bg-white{
	background-color: rgba(255, 255, 255, .65)!important;
	border-radius: 1.5rem;
	padding: 1rem;
}
.carousel-caption h3{
	font-weight: 300;
	font-size: 2.3rem;
}
p.lead{
	font-size: 1.4rem;
}
.btn-primary{
	background-color: #fcba03!important;
	color: black!important;
	border-color: black;
}
.btn-primary:hover{
	background-color: transparent!important;
	color: white!important;
	border: 1px solid #fcba03!important;
}
.category .category-card{
	padding-top: 2rem;
}
.category-card .category-content{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 80%;
	margin: 2rem 2rem;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
.category-content .category-title{
	padding: 2rem 0;
}
.category-content .category-title h3{
	font-size: 1.25rem;
}
.category-content .btn-category:focus{
	outline: none!important;
	box-shadow: none!important;
}
.category-content .btn-category{
	padding: .7rem 2rem;
	background: #fcba03;
	margin: .5rem;
	border-radius: 25px;
	color: black!important;
}
.category-content .btn-category:hover{
	border: 1px solid #fcba03;
	background: transparent;
}
.category-content span{
	display: block;
}
.category-container{
	margin: 0 5vw;
}
.owl-prev, .owl-next{
	width: 15px;
	height: 100px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block!important;
	border: 0px solid black!important;
}
.owl-prev{
	left: -20px
}
.owl-prev:hover{
	background-color: transparent!important;
	color: #000;
}
.owl-next:hover{
	background-color: white!important;
}
svg.svg-inline--fa.fa-angle-left.fa-w-8{
	height: 35px;
	width: 35px;
}
svg.svg-inline--fa.fa-angle-right.fa-w-8:hover{
	color: black;
}
svg.svg-inline--fa.fa-angle-right.fa-w-8{
	height: 35px;
	width: 35px;
}
svg.svg-inline--fa.fa-angle-left.fa-w-8:hover{
	color: black;
}
.owl-next{
	right: -20px;
}
.image-container{
	overflow: hidden;
}

.image-container:hover img{
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
	cursor: pointer;
}
.image-container img{
	-webkit-transition: all 0.7s ease;
  	 transition: all 0.7s ease;
}
.carousel-item img{
	width: 100%!important;
	height: 100%!important;
}
.owl-theme .owl-nav [class*=owl-] {
	border-radius: 3px;
  }
.row{
	justify-content: center;
}
section .section-title{
	text-align: center;
	color: #fcba03;
	margin-bottom: 50px;
	text-transform: uppercase;
}
#footer {
    margin-top: 10%;
}

/* Mediaqueries */
@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.owl-nav{
	display: none;
}
}
@media (max-width: 1200px){
	.carousel-caption h3{
		font-size: 1.8rem;
	}
	p.lead{
		font-size: 1.2rem;
	}
}
@media (max-width: 992px){
	.carousel-indicators li{
	width: 30px;
	height: 4px;
	margin-right: 3px;
	margin-left: 3px;
}
}
@media (max-width: 500px){
	.category-card .category-content{
		margin: 2rem 2rem;
	}
}

@media (max-width: 590px){
	.category-title h3{
		font-size: 1.15rem!important;
	}
	.btn-category{
		font-size: .9rem;
	}
}

@media (max-width: 625px){
	.category-title h3{
		font-size: 1.18rem!important;
	}
}
