.progress-bar{
    width: 100%; 
    border-radius: 16px; 
    background-color: #fcba03;
}
.mo-card-footer{
    background-color: #fcba03; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}
.card-header span{
    color: #fcba03;
}
.title {
		margin: 0;
}
.breadcrumb {
	background-color: #fff;
	margin-bottom: 0;
}
.breadcrumb-item a {
	color: #000;
	font-weight: bold;
}
.breadcrumb-item a:hover {
	color: #3c3c3c;
}
.card{
	margin-bottom: 1.5rem!important;
}
#footer{
	margin-top: 25%;
}